* {
  font-family: "Saira Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(238, 238, 238);
  margin: 0px;
  padding: 0px;
  font-family: "Saira Condensed", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}
body .nav {
  width: 80%;
  margin: 0 auto;
}
body .nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #CDAB34;
  border-radius: 5px;
  padding: 0px;
}
body .nav .container .left a {
  display: flex;
  flex-direction: row;
}
body .nav .container .left a img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
}
body .nav .container .left a p {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
}
body .nav .container .left a p span {
  color: #071E6D;
}
body .nav .container .right {
  margin-top: 25px;
}
body .nav .container .right a {
  background-color: #071E6D;
  padding: 3px 10px;
  border-radius: 10px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-right: 20px;
  transition: 0.3s all ease-in-out;
}
body .nav .container .right a:hover {
  color: #071E6D;
}
body .firstsection {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
body .firstsection .container {
  background-color: #071E6D;
  display: flex;
  flex-direction: row;
  padding: 25px;
}
body .firstsection .container .left {
  flex: 1;
}
body .firstsection .container .left p {
  font-size: 48px;
  font-weight: 700;
  color: white;
  margin-top: 150px;
  width: 500px;
}
body .firstsection .container .right {
  flex: 1;
}
body .textline p {
  font-size: 32px;
  font-weight: 500;
  color: #071E6D;
  text-align: center;
  margin-top: 50px;
}
body .textline img {
  margin-top: 50px;
  width: 100%;
  height: 2px;
}
body .secondsection {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
body .secondsection .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .secondsection .container .parts .box {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.27);
  width: 247px;
}
body .secondsection .container .parts .box img {
  width: 247px;
}
body .secondsection .container .parts .box .downtext {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}
body .secondsection .container .parts .box .downtext .texts {
  display: flex;
  flex-direction: row;
  padding: 15px;
}
body .secondsection .container .parts .box .downtext .texts img {
  width: 30px;
  margin-right: 10px;
}
body .secondsection .container .parts .box .downtext .texts p {
  color: #000;
  font-family: Saira Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}
body .thirdsection {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
body .thirdsection img {
  width: 100%;
  border-radius: 15px;
}
body .whatweoffer {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
body .whatweoffer p {
  color: #071E6D;
  font-family: Saira Condensed;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 6.4px;
  padding: 15px 30px 0px 30px;
  background-color: #CDAB34;
}
body .offers {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
body .offers .firstpart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
body .offers .firstpart .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .offers .firstpart .box .photo {
  width: 230px;
  transition: 0.3s all ease-in-out;
}
body .offers .firstpart .box .photo img {
  width: 230px;
}
body .offers .firstpart .box .photo:hover {
  color: #CDAB34;
  opacity: 0.7;
}
body .offers .firstpart .box .text {
  margin-top: 15px;
  width: 200px;
  border-radius: 10px;
  background: #CDAB34;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  color: #071E6D;
  font-family: Saira Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  margin-left: 10px;
  transition: 0.3s all ease-in-out;
}
body .offers .firstpart .box .text:hover {
  opacity: 0.7;
}
body .fourthsection {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
body .fourthsection img {
  width: 100%;
}
body .located {
  background-image: url(../img/located.png);
  background-size: 100% 100%;
  margin-top: 50px;
}
body .located .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 100px;
}
body .located .container .left {
  flex: 2;
}
body .located .container .left .up p {
  color: #CDAB34;
  font-family: Saira Condensed;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.4px;
  margin-top: 50px;
}
body .located .container .left .down p {
  color: #FFF;
  font-family: Saira Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
}
body .located .container .right {
  flex: 1;
}
body .located .container .right img {
  width: 130%;
}
body footer {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 50px;
}
body footer .container {
  background-color: #CDAB34;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body footer .container .left {
  display: flex;
  flex-direction: column;
}
body footer .container .left .up {
  display: flex;
  flex-direction: row;
}
body footer .container .left .up img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
body footer .container .left .up p {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body footer .container .left .up p span {
  color: #071E6D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body footer .container .left .down p {
  color: #000;
  font-family: Saira Condensed;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  width: 300px;
}
body footer .container .right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body footer .container .right .left {
  width: 200px;
}
body footer .container .right .left .title p {
  color: #071E6D;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}
body footer .container .right .left .texts {
  display: flex;
  flex-direction: column;
}
body footer .container .right .left .texts a {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  margin: 5px 0px;
  width: 125px;
}
body footer .container .right .left .texts a:hover {
  font-size: 16px;
  font-weight: 600;
}
body footer .container .right .mid {
  width: 200px;
  margin: 0px 15px;
}
body footer .container .right .mid .title p {
  color: #071E6D;
  font-family: Saira Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}
body footer .container .right .mid .texts .text1 {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
  transition: 0.3s all ease-in-out;
}
body footer .container .right .mid .texts .text1 img {
  width: 25px;
  height: 25px;
}
body footer .container .right .mid .texts .text1 a {
  color: #000;
  font-family: Saira Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  margin-left: 5px;
}
body footer .container .right .mid .texts .text1:hover a {
  font-size: 16px;
  font-weight: 600;
}
body footer .container .right .rights {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
body footer .container .right .rights .title {
  margin: 0px;
}
body footer .container .right .rights .title p {
  color: #071E6D;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}
body footer .container .right .rights .texts .text1 a {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
  width: 50px;
  transition: 0.3s all ease-in-out;
}
body footer .container .right .rights .texts .text1 a img {
  width: 25px;
  height: 25px;
}
body footer .container .right .rights .texts .text1 a p {
  color: #000;
  font-family: Saira Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  margin-left: 5px;
}
body footer .container .right .rights .texts .text1 a:hover p {
  font-size: 16px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */